.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 78dvh;
  width: 100%;
}

.title {
  display: flex;
  height: 5dvh;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(113, 123, 182);
  color: rgb(18, 29, 92);
  border-radius: 10px;
}

.active-players {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 25dvh;
}

.A {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  color: rgb(167, 50, 50);
  background-color: rgb(167, 50, 50);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.B {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
  color: rgb(167, 50, 50);
  background-color: rgb(56, 56, 165);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rules {
  display: flex;
  align-items: center;
  text-wrap: wrap;
  padding-right: 5%;
  padding-left: 5%;
  width: 90%;
  height: 32dvh;
  color: rgb(18, 17, 39);
  background-color: rgb(197, 216, 224);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.extra {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 12dvh;
  /* margin-bottom: 3dvh; */
}

.misc {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.go {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 80%;
  border-radius: 50%;
  border: 1px solid;
  background-color: rgb(96, 158, 60);
  visibility: hidden;
}

.A > * {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.B > * {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.sides {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  color: black;
  text-decoration: none;
}
.sides > span {
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  text-overflow: ellipsis;
  max-height: 100%;
  width: 100%;
  margin: auto 3px;
  line-height: 1.5em;
}

.redice {
  text-align: center;
  color: red;
  font-size: 30px;
  font-weight: bolder;
  height: 50%;
}
.blueice {
  text-align: center;
  color: blue;
  font-size: 30px;
  font-weight: bolder;
  height: 50%;
}

.light {
  height: 100%;
  width: 60%;
  border-radius: 10px;
}

.hill_players {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hill_players > * {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
  width: 45%;
  height: 45%;
  border-radius: 10px;
  background-color: rgb(156, 181, 193);
}

.hill_name {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
