* {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(155, 193, 235);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  background-image: url("./images/background_v2.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 480px;
  background-color: white;
}

.logo {
  background-image: url("./images/logo_v3.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 85%;
  height: 7dvh;
  background-size: contain;
}

.body {
  width: 90%;
  height: 83%;
}

.footer {
  display: flex;
  width: 100%;
  height: 10dvh;
  justify-content: space-evenly;
}

.loading {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
}
