.btn {
  display: flex;
  color: rgb(193, 220, 231);
  background-color: rgb(57, 78, 168);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 95%;
  width: 40%;
  border-radius: 10px;
  padding: 0 5px;
  /* cursor: pointer; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
